{#
/**
 * @file
 * Default theme implementation to display a two-column layout.
 *
 * Available variables:
 * - in_preview: Whether the plugin is being rendered in preview mode.
 * - content: The content for this layout.
 * - attributes: HTML attributes for the layout <div>.
 *
 * @ingroup themeable
 */
#}
{% if content %}
  <div{{ attributes }}>

    {% if content.body_prefix %}
      <div {{ region_attributes.body_prefix.addClass('layout__region', 'layout__region--body-prefix') }}>
        {{ content.body_prefix }}
      </div>
    {% endif %}

    {% if content.body %}
      <div {{ region_attributes.body.addClass('layout__region', 'layout__region--body') }}>
        {{ content.body }}
      </div>
    {% endif %}

    {% if content.body_suffix %}
      <div {{ region_attributes.body_suffix.addClass('layout__region', 'layout__region--body-suffix') }}>
        {{ content.body_suffix }}
      </div>
    {% endif %}

  </div>
{% endif %}
